<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hello SJSU</title>
  </head>
  <body>
    <h1>Hello World from SJSU-{{ sjsu_id }}</h1>
    <p>This page is served on port 8080 by {{ inventory_hostname }}</p>
  </body>
</html>
